@model FSGEMappingTool.Models.Domain.Client
@{
    ViewBag.Title = "Create Client";
}

<h2>Create Client</h2>

@using (Html.BeginForm("Create", "Client", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover table-bordered">
                <tbody>
                    <tr>
                        <td>Display Name:</td>
                        <td><input class="form-control" type="text" name="DisplayName"></td>
                    </tr>
                    <tr>
                        <td>Client Id:</td>
                        <td><input class="form-control" type="text" name="ClientId"></td>
                    </tr>
                    <tr>
                        <td>DB Table Name:</td>
                        <td><input class="form-control" type="text" name="DBTableName"></td>
                    </tr>
                    <tr>
                        <td>Data Refresh Needed:</td>
                        <td><input type="checkbox" name="DataRefreshNeeded" checked="checked"></td>
                    </tr>
                    <tr>
                        <td>Google Sheet Name:</td>
                        <td><input class="form-control" type="text" name="SpreadsheetLocation"></td>
                    </tr>
                </tbody>
            </table>

            <div class="pull-right">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"></span>&nbsp;Save</button>
            </div>
            <div>
                <button type="button" class="btn btn-default" onclick="window.location = '/client';"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Cancel</button>
            </div>

        </div>

        <div class="col-md-4">

        </div>

    </div>
}
